@button_width: 150px;

.text-input {
  position: relative;

  margin: 0 auto;
  .grid(max-width; 66);
  .grid(margin-bottom; 4);

  .form-text-input {
    display: inline-block;

    border: 1px solid @color-red;
    border-right: none;
    padding-right: 130px;
    width: 70%;
    height: 45px;
    overflow: hidden;

    resize: none;
    opacity: 0.9;
    .grid(border-radius; 1 0 0 1);
    .grid(font-size; 1.6);
    .grid(height; 5);
    .grid(padding; 0 2);
  }

  .form-button {
    margin-left: -2px;
    border: 1px solid @color-red;
    border-left: 0;
    width: 30%;

    color: @color-white;

    background-color: @color-red;

    cursor: pointer;
    .grid(height; 5);
    .grid(border-radius; 0 1 1 0);
    .grid(font-size; 1.6);
  }

  .form-categories {
    display: block;

    width: 70%;
    .grid(padding-top; 1);

    .radio-button {
      display: inline-block;

      width: 33%;

      text-align: center;

      input {
        .grid(margin-right; 1);
        .grid(height; 2);
        vertical-align: middle;
      }

      label {
        .grid(font-size; 2);
      }

      @media (max-width: 480px) {
        label {
          .grid(font-size; 1.5);
        }
      }
    }
  }

  @media (max-width: 480px) {
    .form-categories {
      width: 100%;

      .radio-button {
        label {
          .grid(font-size; 1.5);
        }
      }
    }
  }
}
