/docs
/doc
/node_modules
/packages/*/dist
/packages/*/coverage
/packages/*/docs
/packages/*/doc
/packages/*/node_modules
/packages/devtools-scripts/es
/packages/devtools-scripts/lib
/packages/create-ima-app/examples/todos/assets/bower
/packages/create-ima-app/examples/todos/assets/static/js/todomvc-common-base.js
**/*.d.ts
