/docs
/doc
/node_modules
/packages/*/dist
/packages/*/coverage
/packages/*/docs
/packages/*/doc
/packages/*/node_modules
/packages/skeleton/build
/packages/skeleton/app
/packages/examples/todos/assets/bower
/packages/examples/todos/assets/static/js/todomvc-common-base.js
