// *
// * Responsable Grid System
// *
// * Setting up a responsive grid based on Semantic GS
// *
// * @author Abban Dunne http://abandon.ie
// * @author James Wilson http://jimmynotjim.com
// * @version 1.0
// */

// ==========================================================
// = Site Variables                                         =
// ==========================================================

// Grid options =
$gutter_width: 40px; // Your gutter width
$columns: 12; // The amount of columns you want
$max_width: 1008px; // Set a maximum width of the site

// *
// * Baseline
// *
// * Common settings for this:
// *
// * 100% for 16px font and 24px baseline.
// *
// * 75% for 12px font and 18px baseline.
// *
// *
$baseline: 100%;

// Font variables
$body_color: #333;
$heading_color: #111;

$body_family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Sans-Serif;
$heading_family: "Open Sans Condensed", "Helvetica Neue", Arial, Helvetica, Sans-Serif;

// Link colors
$link: #6bac60;
$link_hover: #78aace;

// Select colors
$select: #78aace;
$select_color: #fff;

// Default Colors
$grey_light: #ddd;
$grey_regular: #ccc;
$grey_dark: #666;

$green: #6bac60;

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack
@mixin clearfix(){
	*zoom:1;

	&:before,
	&:after{
	    content:"";
	    display:table;
	}
	&:after{
	    clear:both;
	}
}

// ==========================================================
// = Import normalize baseline and grid                     =
// ==========================================================

@import "normalize.scss";
@import "baseline.scss";
@import "grid.scss";

// ==========================================================
// = Your custom styles go here                             =
// ==========================================================

body{
	background: url(../images/bg.png) 0 2px;
}

header#worlds_birth{
	>div{
		@include row();
		hgroup{
			@include column(12);
			padding-top: 1.5em;
			margin-bottom: 2px; // Figure out 2px weirdness with hgroups
		}
		nav ul{
			@include clearfix();
			@include column(12);
			margin-bottom: 1.5em;
			text-align: center;
			font-weight:bold;
			li{
				@include column(3, 0);
				a{
					display:block;
					background: $link;
					padding: .75em 0;
					border-right: 1px solid #fff;
					color:#fff;
					&:hover, &:focus{
						background:$link_hover;
					}
				}
			}
		}
	}
}

#content{
	>div{
		@include row();
		>section{
			@include column(8);
		}
		>aside{
			@include column(4);
			>div:last-child{
				p{
					margin-bottom:0;
				}
				div:last-child p{
					margin-bottom: 1.5em;
				}
			}
		}
		>div{
			clear:both;
			>div{
				@include column(12);
			}
			section{
				background:#ccc;
				div{
					background: $green;
					height: 3em;
					margin-bottom: 1.5em;
					border: $gutter_width*0.5 solid #ddd;
					border-top:0;
					border-bottom:0;
				}
			}
			section#one,
			section#two,
			section#three,
			section#four,
			section#five,
			section#six,
			section#seven,
			section#eight,
			section#nine,
			section#ten,
			section#eleven{
				div:last-child{
					background:#eee;
				}
			}
			section#one{
				>div:first-child{@include column(1);}
				>div:last-child{@include column(11);}
			}
			section#two{
				>div:first-child{@include column(2);}
				>div:last-child{@include column(10);}
			}
			section#three{
				>div:first-child{@include column(3);}
				>div:last-child{@include column(9);}
			}
			section#four{
				>div:first-child{@include column(4);}
				>div:last-child{@include column(8);}
			}
			section#five{
				>div:first-child{@include column(5);}
				>div:last-child{@include column(7);}
			}
			section#six{
				>div:first-child{@include column(6);}
				>div:last-child{@include column(6);}
			}
			section#seven{
				>div:first-child{@include column(7);}
				>div:last-child{@include column(5);}
			}
			section#eight{
				>div:first-child{@include column(8);}
				>div:last-child{@include column(4);}
			}
			section#nine{
				>div:first-child{@include column(9);}
				>div:last-child{@include column(3);}
			}
			section#ten{
				>div:first-child{@include column(10);}
				>div:last-child{@include column(2);}
			}
			section#eleven{
				>div:first-child{@include column(11);}
				>div:last-child{@include column(1);}
			}
			section#thirds{
				>div{@include column(4);}
			}
			section#quarters{
				>div{@include column(3);}
			}
			section#sixths{
				>div{@include column(2);}
			}
			section#twelfths{
				>div{@include column(1);}
			}
		}
	}
}


/**
 * NOTE
 * Don't add breakpoints aimed at device pixel widths,
 * add them where they suit best for your design.
 */
@media screen and (max-width: 750px){
	#content{
		>div{
			>section{
				@include column(12);
			}
			>aside{
				@include column(12, 0);
				>h2{
					@include column(12);
					padding-top: 0.25em;
				    margin-bottom: 0.5em;
				}
				div#lists{
					>div{
						@include column(4);
					}
					ul, ol{
						padding-left: 10%;
					}
				}
				>div:last-child{
					@include column(12, 0);
					>h2{
						@include column(12);
						padding-top: 0.25em;
					    margin-bottom: 0.5em;
					}
					>div{
						@include column(6);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 520px){
	#content{
		>div{
			>aside{
				div#lists{
					>div{
						@include column(12);
					}
				}
				>div:last-child{
					>h2{
						@include column(12);
						padding-top: 0.25em;
					    margin-bottom: 0.5em;
					}
					>div{
						@include column(12);
					}
					p{
						margin-bottom:0;
					}
					div:last-child p{
						margin-bottom: 1.5em;
					}
				}
			}
		}
	}
}


