.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: theme("colors.slate.400");
}

.token.punctuation {
  color: theme("colors.slate.300");
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: theme("colors.pink.400");
}

.token.boolean,
.token.number {
  color: theme("colors.indigo.300");
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: theme("colors.emerald.400");
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: theme("colors.slate.300");
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: theme("colors.purple.400");
}

.token.keyword {
  color: theme("colors.cyan.300");
}

.token.regex,
.token.important {
  color: theme("colors.amber.400");
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
