.ima-overlay {
  @keyframes fadeInDown {
    0% {
      transform: translateY(-5px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__ {
    &backdrop {
      position: absolute;
      left: 0;

      top: 0;
      z-index: 1;

      width: 100vw;
      height: 100%;

      background: rgb(0 0 0 / 0.1);

      backdrop-filter: blur(12px);
    }

    &foreground {
      position: relative;
      z-index: 10;

      padding: 40px;

      animation: fadeInDown 0.15s ease-out;
    }

    &content {
      margin: 0 auto;

      border-radius: 3px;

      padding: 35px 30px;
      max-width: 760px;

      background: white;

      box-shadow: rgb(149 157 165 / 0.3) 0 8px 24px;
    }
  }
}
