.ima-header {
  &__ {
    &type {
      display: inline-block;

      border-radius: 2px;
      padding: 3px 6px;

      font-size: 12px;
      font-weight: 500;

      text-transform: uppercase;

      &-- {
        &compile {
          color: var(--ima-color-dark);

          background-color: var(--ima-color-yellow-base);
        }

        &runtime {
          color: var(--ima-color-light);

          background-color: var(--ima-color-red-base);
        }
      }
    }

    &meta {
      margin: 12px 0 16px;

      font-size: 24px;
      line-height: 32px;
      color: var(--ima-color-red-base);
    }

    &name {
      font-weight: 600;
    }
  }
}
