.ima-header {
  position: relative;

  font-family: var(--ima-font-mono);

  &__ {
    &type {
      display: inline-block;

      padding: 3px 6px;

      font-size: 12px;
      font-weight: 500;

      text-transform: capitalize;

      &-- {
        &compile {
          color: rgb(161 98 7);

          background-color: rgb(254 249 195);
        }

        &runtime {
          color: var(--ima-color-light);

          background-color: var(--ima-color-red-base);
        }
      }
    }

    &meta {
      margin: 8px 0 16px;

      font-size: 20px;
      line-height: 28px;

      letter-spacing: -1.5px;
      color: var(--ima-color-red-base);
    }

    &name {
      font-weight: 600;
    }
  }
}
