.container {
  margin: 1rem 0;
}

.title {
  margin-bottom: 1.5rem;

  text-align: center;
}

.img {
  margin-bottom: 1rem;
  border-radius: 3px;

  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 0.12),
    0 0 0 1px rgb(10 10 10 / 0.05);
}

.description {
  padding: 0 1rem;
}
