.l-homepage {
	display:table;
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
	height:100%;


	.content {
		display: table-cell;
		vertical-align: middle;

		img {
			width: 100%;
		}

		h1 {
			margin-top: 2em;
			text-align: center;
			font-size: 2em;
		}

		a {
			color: @color-red;
		}
	}

}