---
---

.image {
  &.is-padded-with-shadow {
    padding: 20px;

    img {
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.12), 0 0 0 1px rgba(10, 10, 10, 0.05);
      border-radius: 3px;
    }
  }
}


@import "custom-bulma";
@import "rouge-github";

body {
  line-height: 1.6;
}

.is-sidebar {
  &>div:first-child {
    flex-shrink: 0;
    margin-right: 1rem;
  }
}

.doc-aside {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  overflow-y: auto;
  height: 100vh;
  width: 150vw;
  z-index: 1;
  margin-top: -20px;
  padding-top: 20px;

  &-container,
  &-wrapper {
    width: 200px;

    @media screen and (min-width: 1024px) {
      max-width: 960px;
      width: 240px;
    }
    @media screen and (min-width: 1216px) {
      max-width: 1152px;
      width: 280px;
    }
    @media screen and (min-width: 1408px) {
      max-width: 1344px;
      width: 300px;
    }
  }

  &-wrapper {
    padding-bottom: 80px;
  }

  &-overflow-grad {
    height: 30px;
    bottom: 0;
    position: fixed;
    width: 300px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    z-index: 2;

    &--top {
      position: sticky;
      margin-top: -30px;
      top: 0;
      background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    }
  }
}

#features {
  li {
    margin-bottom: 0.5rem;

    p {
      display: inline-block;
      margin-left: 0.25rem;
    }
  }
}

#imajs {
  .logo {
    margin: 0 auto;
    width: 60%;

    figure {
      margin-bottom: 2.5rem;
    }
  }
}

#platforms {
  .columns {
    border-bottom: 1px solid $grey-lighter;

    .column {
      justify-content: center;
      line-height: 3rem;
    }
  }
}

.card {
  margin-right: 1rem;

  .card-content>p {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.separator {
  margin-top: 6rem;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &::before {
    background-color: $grey-lighter;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

.is-flex-column {
  flex-flow: column;
}

.is-hidden {
  display: none;
}

.is-limited-width {
  margin: 0 auto;
  max-width: 64rem;
}

.highlighter-rouge {
  margin-bottom: 1rem;
}

.hero-body {
  padding: 2rem 1.5rem;
}

a {
  text-decoration: underline;
}

a.button,
.navbar a,
.menu-list a {
  text-decoration: none;

  &.is-active {
    background: none;
    color: $red;
  }
}

.content {
  overflow: hidden;
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 10;

  h3 code {
    font-size: 1rem;
  }
}

.menu {
  font-size: 0.95rem;
}

.menu-list {
  li ul {
    font-size: 0.9rem;
    margin: 0.5em 1rem;
  }

  & > li > a {
    font-weight: 600;
  }

  a {
    padding: 0.3em 0.5em;
  }
}

.menu-label:not(:first-child) {
  margin-top: 2em;
}

