$color00: #f7f7f7;
$color01: #495057;
$color02: #adb5bd;
$color03: #d73a49;
$color04: #6f42c1;
$color05: #f59f00;
$color06: #800080;
$color07: #005cc5;
$color08: #008080;

// Inline code snippets
code {
	font-family: 'Menlo', 'Source Code Pro', serif;
	letter-spacing: -0.01em;
	font-size: 0.8em;
	background: #f2f2f2;
	padding: 3px 6px;
}

// Code blocks
pre code {
	padding: 0;
	background: none;
	font-size: 13px;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}

.highlight     {
	background: $color00;
	border-radius: 3px;
	line-height: 20px;
	padding: 0;
	margin: 0;
	font-family: 'Menlo', 'Source Code Pro', serif;
	letter-spacing: -0.01em;

	pre code {
		color: $color01;
		letter-spacing: -0.01em;
	}

	.c  { color: $color02; }
	.g  { color: $color01; }
	.k  { color: $color03; }
	.l  { color: $color01; }
	.n  { color: $color01; }
	.o  { color: $color03; }
	.p  { color: $color01; }
	.x  { color: $color04; }
	.cm { color: $color02; }
	.cp { color: $color03; }
	.c1 { color: $color02; }
	.cs { color: $color03; }
	.gd { color: $color05; }
	.ge { color: $color01; font-style: italic; }
	.gr { color: $color06; }
	.gh { color: $color04; }
	.gi { color: $color03; }
	.go { color: $color01; }
	.gp { color: $color01; }
	.gs { color: $color01; font-weight: bold; }
	.gu { color: $color04; }
	.gt { color: $color01; }
	.kc { color: $color04; }
	.kd { color: $color07; }
	.kn { color: $color03; }
	.kp { color: $color03; }
	.kr { color: $color07; }
	.kt { color: $color06; }
	.ld { color: $color01; }
	.m  { color: $color05; }
	.s  { color: $color05; }
	.na { color: $color01; }
	.nb { color: $color08; }
	.nc { color: $color07; }
	.no { color: $color04; }
	.nd { color: $color07; }
	.ni { color: $color04; }
	.ne { color: $color04; }
	.nf { color: $color07; }
	.nl { color: $color01; }
	.nn { color: $color01; }
	.nx { color: $color01; }
	.py { color: $color01; }
	.nt { color: $color07; }
	.nv { color: $color07; }
	.ow { color: $color03; }
	.w  { color: $color01; }
	.mf { color: $color05; }
	.mh { color: $color05; }
	.mi { color: $color05; }
	.mo { color: $color05; }
	.sb { color: $color02; }
	.sc { color: $color05; }
	.sd { color: $color01; }
	.se { color: $color04; }
	.sh { color: $color01; }
	.si { color: $color05; }
	.sx { color: $color05; }
	.sr { color: $color06; }
	.s1 { color: #37b24d; }
	.s2 { color: #37b24d; }
	.ss { color: $color05; }
	.bp { color: $color07; }
	.vc { color: $color07; }
	.vg { color: $color07; }
	.vi { color: $color07; }
	.il { color: $color05; }
	.dl { color: #37b24d; }
	.nx { color: $color04; }
}
