@charset "utf-8";

$red: #de0304;

$footer-background-color: hsl(0, 0%, 100%);
$link: $red;
$menu-item-active-background-color: $red;
$navbar-item-active-color: $red;
$primary: $red;

@import "bulma";
