---
---

@import "custom-bulma";
@import "rouge-github";

#doc {
  &>div:first-child {
    flex-shrink: 0;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    padding-right: 0.5rem;
  }
}

#features {
  li {
    margin-bottom: 0.5rem;

    p {
      display: inline-block;
      margin-left: 0.25rem;
    }
  }
}

#platforms {
  .columns {
    border-bottom: 1px solid $grey-lighter;

    .column {
      justify-content: center;
      line-height: 3rem;
    }
  }
}

.card {
  margin-right: 1rem;

  .card-content>p {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.separator {
  margin-top: 6rem;

  &:first-child {
    margin-top: 0;
  }

  &::before {
    background-color: $grey-lighter;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.is-flex-column {
  flex-flow: column;
}

.is-hidden {
  display: none;
}

.is-limited-width {
  margin: 0 auto;
  max-width: 64rem;
}
